*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

.wrapper{
    display: grid;
    width: 100vw;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 10px;
    
}

.header{
    height: 80px;
    background-color: #333;
    color: aliceblue;
    display: flex;
    align-items: center;
}

.card{
    background-color: aliceblue;
    margin: 10px;
    /* width: 300px; */
    height: 300px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 15px;
    & h2{
        margin-bottom: 10px;
        font-size: 1.7rem;
    }
    & h3{
        font-size: 1.3rem;
    }
    & p , span{
        font-size: 1.2rem;
        font-weight: 700;
    }
    & button{
        width: 100px;
        height: 40px;
        
    }
}

#dialog{
    transform: translate(-50%);
    left: 50%;
    top: 25%;
    position: fixed;
    width: 25vw;
    height: 30vh;
    & form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        & .inputs{
            display: grid;
            grid-template-columns: 30px 1fr;
            gap: 20px;
        }
        & .buttons{
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        & input{
            padding: 5px;
            border: 1px solid #333;
            border-radius: 5px;
            align-items: center;
            justify-content: center;
        }
        & button{
            padding: 5px;
            border: 1px solid #333;
            border-radius: 5px;
            background-color: aliceblue;
            cursor: pointer;
        }
    }
}

#show-dialog{
    margin-top: 15px;
    width: 100px;
    height: 50px;
    background-color: aliceblue;
    padding: 15px;
    border-radius: 5px;
    margin-left: 10px;
}

h1{
    margin-left:10px ;
}

.remove{
    background-color: rgb(236, 85, 85);
    color: aliceblue;
    cursor: pointer;
    border-radius: 20px;
}

.change-status{
    background-color: rgb(75, 144, 233);
    color: aliceblue;
    cursor: pointer;
    border-radius: 20px;
}
